brotlipy 
certifi==2021.10.8
cffi 
charset-normalizer 
click 
colorama 
cryptography 
Flask 
gunicorn==20.1.0
idna 
itsdangerous 
Jinja2
MarkupSafe 
pycparser 
PyJWT 
pyOpenSSL 
PySocks 
pytz 
requests 
twilio 
urllib3 
Werkzeug 
win-inet-pton 
wincertstore==0.2
