brotlipy @ file:///D:/bld/brotlipy_1636012392748/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046278333/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///C:/ci/click_1646038595831/work
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
cryptography @ file:///D:/bld/cryptography_1639699435873/work
Flask @ file:///tmp/build/80754af9/flask_1634118196080/work
gunicorn==20.1.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
PySocks @ file:///D:/bld/pysocks_1635862562854/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
twilio @ file:///home/conda/feedstock_root/build_artifacts/twilio_1645659662608/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832858406/work
wincertstore==0.2
